venv/
klad.ipynb
results/pretrained_models/model*
data/Bayesian_models/model*
data/AlexNet/*
data/cifar-data
data/mnist-data
.Rproj.user
.vscode/launch.json
.RData
*/__pycache__
data/JAGS/*
data/JAGS/model_01_jags_output_th_5.RData
modules/AlexNet/classes/__pycache__/*
